services: # I servizi che devono lavorare insieme per un risultato finale: mysql e wordpress. WORDPRESS non può funzionare da solo e non usare mysql per applicazioni governative

  # MySQL Service
  mysql:
    image: mysql:latest # Il punto di partenza
    container_name: mysql_container
    restart: always # Tutte le volte in cui qualcosa va storto o non funziona lo fa ripartire
    volumes: # Sistema che mantiene la persistenza di un dato in un container
      - ./db_data:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: root # password amministrazione database
      MYSQL_USER: wordpress
      MYSQL_PASSWORD: wordpress
      MYSQL_DATABASE: wordpress



    # WordPress Service
  wordpress:
    depends_on: # serve per fare in modo che docker faccia partire prima mysql e poi wordpress
      - mysql # oggi si preferisce MariaDB
    image: wordpress:latest
    container_name: wp_container
    volumes:
      - ./wp_data:/var/www/html
    environment:
      WORDPRESS_DB_HOST: mysql # il server che ospita il database è mysql
      WORDPRESS_DB_USER: wordpress
      WORDPRESS_DB_PASSWORD: wordpress
      WORDPRESS_DB_NAME: wordpress
      WORDPRESS_DEBUG: 1
      XDEBUG_CONFIG: client_host=host.docker.internal
    ports: # !!! importante -> le porte sono standardizzate ed esiste una tabella di riferimento (porta 80 è quella standard del web)
      - "8000:80" # 80 interna 8000 esterna

